#workspace {
    width: 100vw;
    height: 100vh;
    position: absolute;
    inset: 0;
    background-color: rgb(22, 71, 154);
    overflow: hidden;
}


.drag-over {
    background-color: aquamarine !important;
}

.dragging {
    opacity: 0.2;
}